* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav img {
    opacity: 0;
    transform: translateX(-100vw);
    animation: fadeInLeft 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.nav button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.sign {
    opacity: 0;
    transform: translateX(100vw);
    animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav {
    display: flex;
    gap: 20px;
}

.sign button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(64, 39, 88);
    border: none;
    color: white;
    border-radius: 10px;
}

.navbar {
    display: flex;
    gap: 900px;
    justify-content: center;
    padding-top: 20px;

}

.trust h1 {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(213, 177, 247);
    padding-top: 50px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    animation: typing 2s steps(30, end);
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.curr {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    color: rgb(228, 220, 235);
    font-size: 20px;
}

.curr {
    animation: scaleUp 1s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.convert {
    display: flex;
    padding-top: 40px;

}

.convert {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.con {
    background-color: rgb(213, 177, 247);
    color: rgb(64, 39, 88);
    padding: 9px;
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 39, 88);
    font-weight: bold;
    background-color: white;
    font-size: 20px;
}

.vert {
    background-color: rgb(64, 39, 88);
    color: rgb(213, 177, 247);
    width: 30px;
    padding-top: 9px;
    padding-left: 6px;
    color: white;
    font-size: 20px;

}

.icon button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-top: 30px;
    color: rgb(63, 49, 77);
    color: white;
}

.icon button {
    opacity: 0;
    transform: translateX(100vw);
    animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.icon {
    margin-top: 200px;
}

.body {
    display: flex;
    gap: 400px;
    justify-content: center;
    padding-bottom: 100px;
}

.background {
    background: linear-gradient(45deg, rgb(37, 2, 37) 10%, blueviolet 70%, blueviolet 50%);
}

.png img {
    width: 50px;
    height: 40px;
    background-color: palevioletred;
    border-radius: 50%;
}

.trust {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.start {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.wil {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.log {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    color: rgb(235, 224, 245);
    font-weight: bold;
}

.email {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(235, 224, 245);
}

.input {
    display: flex;
    width: 300px;
    border: 1px solid rgb(235, 224, 245);

    height: 30px;
    gap: 75px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input input {
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: transparent;
    color: rgb(235, 224, 245);
}

.input p {
    margin-top: 5px;
    color: rgb(235, 224, 245);
}

.check {
    display: flex;
    gap: 10px;

}

.checkbox {
    background-color: transparent;
}

.check p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 224, 245);
    color: rgb(235, 224, 245);
}

.chec {
    display: flex;
    gap: 85px;
    padding-top: 15px;
}

.chec p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 224, 245);
}

.in {
    width: 300px;
    height: 30px;
    border: none;
    margin-top: 25px;
    border-radius: 6px;
    background-color: rgb(235, 224, 245);
}

.in a {
    text-decoration: none;
    color: rgb(39, 24, 53);
    font-size: 15px;
    font-weight: bold;
}

.up a {
    text-decoration: none;
    color: rgb(39, 24, 53);
    font-size: 15px;
    font-weight: bold;
}

.up {
    width: 300px;
    height: 30px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: rgb(235, 224, 245);
    border: none;
}

.don {
    padding-top: 20px;
    text-align: center;
    color: rgb(235, 224, 245);
}

.bod {
    width: 370px;
    backdrop-filter: blur(760px);
    box-shadow: 2px 2px 20px #ccc;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.bo {
    display: flex;
    justify-content: center;
}

.navb {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.blu {
    width: 400px;
    height: 150px;
    border-bottom-right-radius: 90px;
}

.bar {
    margin-top: 200px;
    color: white;
}

.png {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.bar p span {
    color: black;
}

.wel {
    font-size: 30px;
    padding-bottom: 40px;
}

.ji {
    display: flex;
    gap: 140px;
}

.ji p {
    padding-top: 40px;
    color: rgb(235, 224, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navba {
    background: linear-gradient(45deg, rgb(37, 2, 37) 10%, blueviolet 70%, blueviolet 50%);
    padding-bottom: 40px;
}

.as {
    font-size: 19px;
    color: rgb(238, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}

.pr {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 30px;
}

.mk {
    width: 180px;
    height: 40px;
    border: none;
    font-size: 20px;
    color: white;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}

.mk input {
    border: none;
    outline: none;
    background-color: transparent;
}

.mk::placeholder {
    font-size: 25px;
    color: white;

}

.bh {
    border: none;
    outline: none;

}

.bh::placeholder {
    color: white;
    font-size: 12px;

}

.inc {
    font-size: 20px;
}

.ra {
    font-size: 12px;
    color: rgb(221, 218, 218);
    text-align: end;
    padding-right: 10px;

}

.uy {
    width: 370px;
    padding-left: 10px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 10px;
}

.mn {
    display: flex;
    gap: 330px;
    color: rgb(213, 177, 247);
}

.kj {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    color: white;
}

.lj {
    display: flex;
    width: 156px;
    height: 50px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5px;
    color: white;

}

.inc {
    padding-top: 10px;
    padding-bottom: 15px;
    color: black;
}

select {
    color: white;
    outline: none;
    font-weight: bold;


}

.uppy {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    mix-blend-mode: multiply;



}

.uppy {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.uppyo {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    margin-top: 70px;


}

.uppyo {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pn {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cry {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pr {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.aso {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mn {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lj {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.jl {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lg {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.jk {
    animation: scaleUp 1s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.uy {
    animation: scaleUp 1s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.ad {
    animation: scaleUp 1s ease-in-out forwards;
    transform: scale(0);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.exchange-rate {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.des {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.inc {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.input {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.email {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.log {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.in {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.chec {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.don {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.up {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.png {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wil {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.in:hover {
    background-color: rgb(20, 10, 29);
    color: rgb(216, 213, 213);
}

.in a:hover {
    color: rgb(216, 213, 213);
}

.up:hover {
    background-color: rgb(20, 10, 29);
    color: rgb(216, 213, 213);
}

.up a:hover {
    color: rgb(216, 213, 213);
}

.sign button:hover {
    background-color: rgb(216, 213, 213);
    color: rgb(20, 10, 29);
}

.cry:hover {
    border-bottom: 2px solid rgb(216, 213, 213);
}

.ppp {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    mix-blend-mode: multiply;


}

.oin {
    padding-top: 70px;
}

.jpp {
    display: flex;
    gap: 94px;
}

.cry {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.oin {
    display: flex;
    gap: 65px;
    justify-content: center;
}

select option {
    background-color: black;

}

.jl {
    display: flex;
    width: 156px;
    height: 50px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5px;

}

select {
    border: none;
    background-color: transparent;
}

.jn {
    display: flex;
    gap: 20px;
}

.lg {
    font-size: 20px;
    margin-top: 15px;
    color: white;
}

.ad {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 15px;
}

.ad:hover {
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

.jk {
    width: 380px;
    height: 40px;
    border: none;
    background-color: rgb(216, 213, 213);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;

}

.exchange-rate {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.des {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 20px;
    color: black;
}

.jk:hover {
    background-color: rgb(29, 8, 49);
    color: white;
}


.hu {
    width: 440px;

    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    backdrop-filter: blur(760px);
    box-shadow: 2px 2px 20px #ccc;
}

.uh {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

}

body {
    background-color: rgb(236, 234, 234);
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 14px 8px 10px 30px;
    padding-top: 17px;
    padding-left: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
    color: white;
}

ul li::before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    background-image: url("das.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: -26px;

}


.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("ti.png");

}

ul li span {
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;

}

ul li span:hover {
    background-color: #edeef0;
}

.navbaa {
    display: flex;
    gap: 300px;
    justify-content: center;
    background: linear-gradient(45deg, rgb(71, 12, 71) 10%, rgb(180, 147, 211) 70%, rgb(180, 147, 211) 50%);

}

.cry {
    margin-top: 30px;
}

.raar {
    display: flex;
    gap: 700px;
    justify-content: center;
    padding-top: 20px;
}

.uh {
    padding-top: 30px;
}

.nabaa {
    background: linear-gradient(45deg, rgb(71, 12, 71) 10%, rgb(180, 147, 211) 70%, rgb(180, 147, 211) 50%);

}

.bh {
    background-color: transparent;
    color: white;
}

.bh ::placeholder {
    color: white;
    font-size: 18px;
}

#input-box input {
    color: white;
    outline: none;
}

.pn {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
}

.kk {
    display: flex;
    width: 220px;
    height: 50px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5px;
}

.km {
    display: flex;
    width: 160px;
    height: 50px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5px;
}

#result {
    font-size: 19px;
    padding-top: 19px;
}

.aso {
    font-size: 15px;
    color: rgb(238, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}

.icon a {
    text-decoration: none;
    color: rgb(190, 188, 188);
}

@media (max-width:601px) {
    .aso {
        font-size: 15px;
        color: rgb(216, 213, 213);
    }

    .mn {
        display: flex;
        gap: 200px;
    }

    .nabaa {
        padding-bottom: 200px;
    }

    .uy {
        width: 280px;
        padding-left: 10px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 10px;
    }

    .chec {
        gap: 30px;
    }

    .lj {
        display: flex;
        width: 110px;
        height: 50px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    .jl {
        display: flex;
        width: 110px;
        height: 50px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    .hu {
        width: 330px;

        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        border-radius: 20px;
        backdrop-filter: blur(760px);
        box-shadow: 2px 2px 20px #ccc;
    }

    .kj {
        width: 40px;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .jpp {
        gap: 10px;
    }

    .raar {
        display: flex;
        gap: 40px;

    }

    .uppyo {
        display: none;
    }

    .uppy {
        display: none;
    }

    .sign button {
        margin-top: 18px;
    }

    .jp img {
        width: 50px;
        height: 50px;
    }

    .pr {
        font-size: 22px;
    }

    .pos img {
        display: none;
    }

    .jk {
        width: 280px;
        height: 40px;
        border: none;
        background-color: rgb(216, 213, 213);
        border-radius: 10px;
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;

    }

    .ad {
        border: none;
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 250px;
        margin-top: 20px;
        font-size: 15px;
    }

    .nav img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav button {
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .nav {
        display: flex;
        gap: 20px;
    }

    .sign button {
        width: 100px;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        background-color: rgb(64, 39, 88);
        border: none;
        color: white;
        border-radius: 10px;
    }

    .navbar {
        display: flex;
        gap: 200px;
        justify-content: center;
        padding-top: 20px;
    }

    .trust h1 {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(213, 177, 247);
        padding-top: 120px;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.1rem;
        animation: typing 2s steps(30, end);
        padding-bottom: 20px;
        text-align: center;
    }

    .curr {
        font-size: 19px;
        padding-bottom: 20px;
        text-align: center;
    }

    .body {
        display: block;

        justify-content: center;
        padding-bottom: 200px;
    }

    .convert {
        justify-content: center;
        padding-bottom: 30px;
    }

    .icon {
        display: flex;
        justify-content: center;
        margin-top: 26px;
        gap: 25px;

    }

    .ji {
        display: block;
    }

    .blu {
        width: 600px;
        height: 150px;
        border-bottom-right-radius: 90px;
        display: none;
    }

    .wel {
        text-align: center;
    }

    .bar {
        display: flex;
        margin-top: none;
        justify-content: center;
        margin-top: 7px;
    }

    .navb {
        display: block;
    }

    .wil {
        text-align: center;
        padding-top: 20px;
    }

    .png {
        display: flex;
        justify-content: center;
    }

    .email {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 20px;
        padding-bottom: 10px;
        color: rgb(235, 224, 245);
    }

    .log {
        text-align: center;
    }

    .mie {
        display: flex;
        justify-content: center;
    }

    .input {
        display: flex;
        width: 270px;
        border: 1px solid rgb(235, 224, 245);

        height: 30px;
        gap: 45px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .in {
        width: 259px;
        height: 30px;
        border: none;
        margin-top: 25px;
        border-radius: 6px;
        background-color: rgb(235, 224, 245);
    }

    .up {
        width: 259px;
        height: 30px;
        margin-top: 15px;
        border-radius: 6px;
        background-color: rgb(235, 224, 245);
        border: none;
    }

    .bod {
        margin-top: 40px;
        width: 320px;
        backdrop-filter: blur(760px);
        box-shadow: 2px 2px 20px #ccc;
        border-radius: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
        margin-bottom: 40px;
    }

    .sss {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .exchange-rate {
        width: 280px;
    }
}

@media (min-width :601px) and (max-width: 1000px) {
    .aso {
        font-size: 13px;
        color: rgb(155, 153, 153);
    }

    .mn {
        display: flex;
        gap: 200px;
    }

    .nabaa {
        padding-bottom: 200px;
    }

    .uy {
        width: 280px;
        padding-left: 10px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 10px;
    }



    .lj {
        display: flex;
        width: 110px;
        height: 50px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    .jl {
        display: flex;
        width: 110px;
        height: 50px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    .hu {
        width: 330px;
        margin-top: 50px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        border-radius: 20px;
        backdrop-filter: blur(760px);
        box-shadow: 2px 2px 20px #ccc;
    }

    .kj {
        width: 40px;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .nabaa {
        padding-bottom: 500px;
    }

    .rar {
        display: flex;
        gap: 600px;

    }

    .sign button {
        margin-top: 18px;
    }

    .jp img {
        width: 50px;
        height: 50px;
    }

    .pr {
        font-size: 22px;
    }

    .jk {
        width: 300px;
        height: 40px;
        border: none;
        background-color: rgb(216, 213, 213);
        border-radius: 10px;
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;

    }

    .ad {
        border: none;
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 250px;
        margin-top: 20px;
        font-size: 15px;
    }

    .navbar {
        display: flex;
        gap: 600px;
        justify-content: center;
        padding-top: 20px;
    }

    .trust h1 {
        font-size: 65px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(213, 177, 247);
        padding-top: 200px;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.1rem;
        animation: typing 2s steps(30, end);
        padding-bottom: 50px;
        text-align: center;
    }

    .curr {
        font-size: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .body {
        display: block;

        justify-content: center;
        padding-bottom: 350px;
    }

    .convert {
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 80px;
    }

    .icon {
        display: flex;
        justify-content: center;
        margin-top: 26px;
        gap: 40px;

    }

    .ji {
        display: block;
    }

    .ji img {
        width: 500px;
        height: 200px;
    }

    .ji p {
        text-align: center;
    }

    .navb {
        display: block;
    }

    .bar {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .wil {
        text-align: center;
        padding-top: 19px;
    }

    .png {
        justify-self: center;
    }

    .sss {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .uppy {
        display: none;
    }

    .uppyo {
        display: none;
    }

    .raar {
        gap: 200px;
    }
}

@media (min-width :1000px) and (max-width: 3000px) {
    .as0 {
        font-size: 13px;
        color: rgb(155, 153, 153);
    }

    .mn {
        display: flex;
        gap: 340px;
    }

    .nabaa {
        padding-bottom: 200px;
    }

    .uy {
        width: 370px;
        padding-left: 10px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 10px;
    }



    .lj {
        display: flex;
        width: 160px;
        height: 50px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    .jl {
        display: flex;
        width: 160px;
        height: 50px;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    .nabaa {
        padding-bottom: 300px;
    }

    .hu {
        width: 420px;

        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        border-radius: 20px;
        backdrop-filter: blur(760px);
        box-shadow: 2px 2px 20px #ccc;
    }

    .kj {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .rar {
        display: flex;
        gap: 1100px;

    }

    .sign button {
        margin-top: 18px;
    }

    .jp img {
        width: 200px;
        height: 200px;
    }

    .pr {
        font-size: 22px;
    }

    .jk {
        width: 380px;
        height: 40px;
        border: none;
        background-color: rgb(216, 213, 213);
        border-radius: 10px;
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;

    }

    .upy {
        height: 00px;
        width: 300px;

        mix-blend-mode: multiply;
        position: absolute;



    }

    .poi {
        position: relative;
    }

    .ppo {
        height: 400px;
        width: 400px;

        mix-blend-mode: multiply;
        position: absolute;


    }

    .ad {
        border: none;
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 330px;
        margin-top: 20px;
        font-size: 15px;
    }

    .trust h1 {
        padding-top: 120px;
    }

    .convert {
        padding-top: 90px;
        padding-top: 120px;
    }

    .body {
        padding-bottom: 300px;
    }

    .icon button {
        margin-top: 50px;
    }

    .icon {
        margin-top: 320px;
    }

    .nav img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .navbar {
        display: flex;
        gap: 1100px;
        justify-content: center;
        padding-top: 20px;

    }

    .ji img {
        width: 500px;
        height: 200px;
    }

    .navba {
        padding-bottom: 200px;
    }

}